.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  
    line-height: 10px;
  
    transition: all 123ms;
  }
  
  
  .thumbnail:hover {
    color: #22a589;
  }
  
  .thumbnail__title {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .thumbnail__imgbox {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 120px;

    
  }
  

  .thumbnail__img {
    max-width: 80%;
    border-radius: 3px;
    max-height: 100%;
    height: auto;
  }
  
