@font-face {
  font-family: "Angkasa";
  src:local("Angkasa"), url(../../fonts/Angkasa-Regular.woff) format("woff");

}

@font-face {
  font-family: "Moon";
  src:local("Moon"), url(../../fonts/Moon2.0-Light.otf) format("woff");
}


// Title
.title {
  margin-top: 30px;
}

.title__text {
  font-family: "Moon";
  text-shadow: 4px 4px 5px black;
  font-size: 10vw;
  font-weight: 100;
  margin-bottom: 15px;
  text-align: center;
  
}



@media (min-width: 900px) {
  .title__text {
    font-size: 8vw;
  }
  
  
}
